/* CSS Document */


#canvasContainer {
	border: 2px solid #888888;
	background-color: #EEEEEE;
	border-radius: 25px;
}

/*
#lowerControls {
	position:relative;
	padding-top: 25px;	
}

#buttonsContainer {
	position:absolute;
	right:0px;
	width:300px;	
	text-align:right;
}
#feedback {
	position:absolute;
	left:0px;
}*/